<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi, quidem earum nam consequuntur ex accusantium autem, repellat ratione nulla, quis voluptatem officiis quibusdam quod aliquam? Autem, nobis adipisci. Odit!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi, quidem earum nam consequuntur ex accusantium autem, repellat ratione nulla, quis voluptatem officiis quibusdam quod aliquam? Autem, nobis adipisci. Odit!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi, quidem earum nam consequuntur ex accusantium autem, repellat ratione nulla, quis voluptatem officiis quibusdam quod aliquam? Autem, nobis adipisci. Odit!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi, quidem earum nam consequuntur ex accusantium autem, repellat ratione nulla, quis voluptatem officiis quibusdam quod aliquam? Autem, nobis adipisci. Odit!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>